// Text Colors
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$fire-engine-red: rgb(198, 30, 30); //#c61e1e
$white-smoke: rgb(244, 246, 250); //#f4f6fa
$davys-grey: rgb(89, 89, 89); //#595959
$platinum: rgb(222, 224, 234); // #dee0ea
$isabelline: rgb(237, 237, 237); //#ededed
$persimmon: rgb(234, 73, 12); //#ea490c
$charcoal: rgb(52, 64, 84); //#344054
$dark-jungle-green: rgb(16, 24, 40); //#101828
$grayx11: rgb(179, 185, 198); //#b3b9c6
$giants-orange: rgb(249, 102, 25); //#F96619
$carmine-pink: rgb(240, 68, 56); //#f04438
$anti-flash-white: rgb(234, 236, 240); //#eaecf0
$light-gray: rgb(208, 213, 221); //#d0d5dd
$platinum-e: rgb(229, 231, 235); //#e5e7eb
$white-smoke-f6: rgb(246, 247, 249); //#f6f7f9
$aurometalsaurus: rgb(102, 112, 133); //#667085
$green: rgb(18, 183, 106); //#12b76a
$ghost-white: rgb(249, 250, 251); //#F9FAFB
$anti-flash-white-ed: rgb(237, 238, 241); //#edeef1
$dim-gray: rgb(102, 102, 102); //#666666
$vivid-tangelo: rgb(242, 109, 33); //#f26d21
$honeydew: rgb(236, 253, 243); //#ecfdf3
$misty-rose: rgb(254, 228, 226); //#fee4e2
$dark-tangerine: rgb(253, 167, 18); //#fda712
$gainsboro: rgb(215, 218, 224); //#d7dae0
$arsenic: rgb(61, 66, 79); //#3d424f
$blond: rgb(255, 244, 197); //#fff4c5
$cool-grey: rgb(138, 148, 166); //#8a94a6
$platinum-e2: rgb(226, 226, 226); //#e2e2e2
$independence: rgb(70, 76, 94); //#464c5e
$papaya-whip: rgb(255, 234, 213); //#ffead5
$dark-jungle-green-11: rgb(17, 25, 40); //#111928
$cadet: rgb(86, 94, 115); //#565e73

// Overlays
$giants-orange-01: rgba($giants-orange, 0.1); //#F966190A
$black-01: rgba($black, 0.1); //#F966190A
// Linears
